<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scope and Digest</title>
    <link rel="stylesheet" href="index.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="learndigest">
    <div ng-controller="playgroundCtrl as playGround">
            How strong is the force {{playGround.force}}
        <input type="number" ng-model="playGround.force">   <! Here $scope of internalCtrl is available using "ControllerAs syntax : playground">
        <button ng-click="playGround.reset()">Reset</button>

        <div ng-controller="internalCtrl as internal">
            <div>The secret is: {{internal.secret}}</div>
            <div>The internal force {{playGround.force}}</div> <! Here $scope of playgroundCtrl is also available>
            <input type="number" ng-model="playGround.force">
        </div>
    </div>
  </body>
</html>

